In [53]:
import os
import pandas as pd 
import numpy as np

In [52]:
PATH='C:/Users/houy2/Documents/Yuan/projects/AD/AD_genetics/AD_MR'
input_DT="DT"
input_raw="DT/raw"
input_circos='DT/circos'
input_kar='DT/circos/karyotype'
output_chr='DT/circos/chr'
output_chr_pos="DT/circos/chr_pos"
output_circos="DT/circos/mr_circos_v9"
datetime="Dec18"
os.chdir(PATH)

In [28]:
df = pd.read_csv("./%s/brain_MR_alltargets_#1176_%s.tsv" % (input_DT,datetime),sep="\t")
sub_q=df[df["sig#_FDR"]>0].copy()
sub_q["FDR_sig"]='yes'
sub_q["type"]='FDR'
sub_q=sub_q[['symbol','type','FDR_sig']]
print("FDR #%s" % sub_q.shape[0])
sub_p=df[df["sig#"]>0].copy()
sub_p["pvalue_sig"]='yes'
sub_p["type"]='pval'
sub_p=sub_p[['symbol','type','pvalue_sig']]
print("P #%s" % sub_p.shape[0])
sub=pd.concat([sub_q,sub_p])
sub=sub.drop_duplicates(["symbol"])
sub_n=df[['symbol','alzMR score']]
sub=pd.merge(sub,sub_n,how="outer",on="symbol")
print(sub.shape)

FDR #126
P #736
(1176, 5)

In [29]:
#Please load a label file including gene symbol generate in alzMR score.
df_label = pd.read_csv("./%s/MR_highlight#95_%s.tsv" % (input_DT,datetime),sep="\t")
df_label=df_label[["symbol","Race_group","highlight"]].copy()
df_label["label"]='yes'

In [30]:
df_merge=pd.merge(df_label,sub,how="outer",on="symbol")
###add label after file generate
df_merge.to_csv("./%s/MR_allTargets_#%s_label_%s.tsv" % (input_circos,sub.shape[0],datetime), sep='\t',index=False)

In [31]:
def unique(list1): 
    x = np.array(list1) 
    return np.unique(x)

In [32]:
df = df_merge.copy()
print(df.shape)

(1176, 8)

In [33]:
df_gene = pd.read_csv("./%s/gencode_v39lift37_protein_coding_gene.tsv" % input_kar,sep="\t")
print(df_gene.shape)
df_gene.head()

(20111, 9)

,symbol,ensembl_id,chr,annotation_source,type,start,end,score,strand
0,OR4F5,ENSG00000186092,chr1,HAVANA,gene,65419,71585,.,+
1,AL627309.1,ENSG00000237683,chr1,ENSEMBL,gene,134901,139379,.,-
2,OR4F29,ENSG00000235249,chr1,HAVANA,gene,367640,368634,.,+
3,OR4F16,ENSG00000284662,chr1,HAVANA,gene,621096,622034,.,-
4,SAMD11,ENSG00000187634,chr1,HAVANA,gene,859303,879955,.,+

In [34]:
df_kary = pd.read_csv("./%s/karyotype.human.hg19_mr.tsv" % input_kar,sep="\t")
print(df_kary.shape)
df_kary

(22, 6)

      chr  tag icon    id  order            color
0    chr1  chr    -   hs1      1  176,190,197,0.2
1    chr2  chr    -   hs2      2  176,190,197,0.2
2    chr3  chr    -   hs3      3  176,190,197,0.2
3    chr4  chr    -   hs4      4  176,190,197,0.2
4    chr5  chr    -   hs5      5  176,190,197,0.2
5    chr6  chr    -   hs6      6  176,190,197,0.2
6    chr7  chr    -   hs7      7  176,190,197,0.2
7    chr8  chr    -   hs8      8  176,190,197,0.2
8    chr9  chr    -   hs9      9  176,190,197,0.2
9   chr10  chr    -  hs10     10  176,190,197,0.2
10  chr11  chr    -  hs11     11  176,190,197,0.2
11  chr12  chr    -  hs12     12  176,190,197,0.2
12  chr13  chr    -  hs13     13  176,190,197,0.2
13  chr14  chr    -  hs14     14  176,190,197,0.2
14  chr15  chr    -  hs15     15  176,190,197,0.2
15  chr16  chr    -  hs16     16  176,190,197,0.2
16  chr17  chr    -  hs17     17  176,190,197,0.2
17  chr18  chr    -  hs18     18  176,190,197,0.2
18  chr19  chr    -  hs19     19  176,190,197,0.2
19  chr20  chr    -  hs20     20  176,190,197,0.2
20  chr21  chr    -  hs21     21  176,190,197,0.2
21  chr22  chr    -  hs22     22  176,190,197,0.2

In [35]:
df_gene = pd.merge(df,df_gene,how = "inner",on =["symbol"])
df_gene=df_gene.sort_values(by='start', ascending=True)
print(df_gene.shape)
df_gene = pd.merge(df_kary,df_gene,how = "inner",on =["chr"])
df_gene=df_gene[["tag","icon","id","start","end","color","symbol","label","FDR_sig","pvalue_sig"]]
print(df_gene.shape)
df_gene.head()

(1176, 16)
(1176, 10)

,tag,icon,id,start,end,color,symbol,label,FDR_sig,pvalue_sig
0,chr,-,hs1,1570601,1590473,"176,190,197,0.2",CDK11B,NaN,NaN,NaN
1,chr,-,hs1,1633818,1655796,"176,190,197,0.2",CDK11A,NaN,NaN,yes
2,chr,-,hs1,1981850,2116834,"176,190,197,0.2",PRKCZ,NaN,NaN,NaN
3,chr,-,hs1,8921059,8939249,"176,190,197,0.2",ENO1,NaN,NaN,NaN
4,chr,-,hs1,9711789,9789172,"176,190,197,0.2",PIK3CD,NaN,yes,NaN

In [36]:
df_gene.to_csv("./%s/MR_allTargets_#%s_pos.tsv" % (input_circos,df_gene.shape[0]), sep='\t',index=False)

In [37]:
chr_list=unique(df_gene['id'].tolist())
for c in chr_list:
   sub=df_gene[df_gene["id"]==c]
   sub.to_csv("./%s/MR_allTargets_%s.tsv" % (output_chr,c), sep='\t',index=False)

In [38]:
listfile_chr = os.listdir("./%s" % output_chr)
for file in listfile_chr:
   chr_file=open("./%s/%s" % (output_chr,file),"r")
   line1=chr_file.readline()
   L1=line1.strip("\n").split("\t")
   df_pos=open("./%s/%s" % (output_chr_pos,file),"w")
   df_pos.write("tag\ticon\tid\tstart\tend\tcolor\tsymbol\n")
   S=0
   for line in chr_file.readlines():
      L=line.strip('\n').split('\t')
      fdr=L[L1.index("FDR_sig")]
      pval=L[L1.index("pvalue_sig")]
      color=L[L1.index("color")]
      gene=L[L1.index("symbol")]
      if fdr =="yes":
         start=S
         end=S+3
         S+=3
      elif pval=="yes":
         start=S
         end=S+2
         S+=2
      else:
         start=S
         end=S+1
         S+=1
      df_pos.write("%s\t%s\t%s\t%s\t%s\t%s\t%s\n" % (L[0],L[1],L[2],start,end,color,gene))
   chr_file.close()
   df_pos.close()

In [39]:
list_hs = ["hs1","hs2","hs3","hs4","hs5","hs6","hs7","hs8","hs9","hs10","hs11","hs12","hs13","hs14","hs15","hs16","hs17","hs18","hs19","hs20","hs21","hs22"]
df_chr = pd.DataFrame()
id=[]
start=[]
end=[]
for f in list_hs:
   df_hs=pd.read_csv("./%s/MR_allTargets_%s.tsv" % (output_chr_pos,f), sep="\t")
   df_chr = pd.concat([df_hs, df_chr])
   id.append(f)
   start.append(df_hs["start"].tolist()[0])
   end.append(df_hs["end"].tolist()[-1])
print(df_chr.shape)
df_chr.head()

(1176, 7)

   tag icon    id  start  end            color symbol
0  chr    -  hs22      0    1  176,190,197,0.2   COMT
1  chr    -  hs22      1    2  176,190,197,0.2  PI4KA
2  chr    -  hs22      2    3  176,190,197,0.2  MAPK1
3  chr    -  hs22      3    5  176,190,197,0.2    BCR
4  chr    -  hs22      5    6  176,190,197,0.2    MIF

In [40]:
df_kary = pd.read_csv("./%s/karyotype.human.hg19_mr.tsv" % input_kar,sep="\t")
df_kary_sub=df_kary[["id","order"]]
df_chr = pd.merge(df_kary_sub,df_chr,how = "inner",on =["id"])
df_chr=df_chr[["id","start","end","symbol"]]
df_chr.to_csv("./%s/karyotype.human.hg19_%s.tsv" % (input_kar,df_chr.shape[0]),index=False,sep='\t')
df_chr.head()

    id  start  end  symbol
0  hs1      0    1  CDK11B
1  hs1      1    3  CDK11A
2  hs1      3    4   PRKCZ
3  hs1      4    5    ENO1
4  hs1      5    8  PIK3CD

In [41]:
Karyotype = pd.DataFrame.from_dict({'id':id,'start':start,'end':end})
Karyotype = pd.merge(df_kary,Karyotype,how = "inner",on =["id"])
Karyotype=Karyotype[["tag","icon","id","order","start","end","color"]]
Karyotype.to_csv("./%s/karyotype.human.hg19_%s_%s.txt" % (input_kar,df_chr.shape[0],datetime),index=False,sep=' ',header=False)
Karyotype

    tag icon    id  order  start  end            color
0   chr    -   hs1      1      0  203  176,190,197,0.2
1   chr    -   hs2      2      0  139  176,190,197,0.2
2   chr    -   hs3      3      0  123  176,190,197,0.2
3   chr    -   hs4      4      0  123  176,190,197,0.2
4   chr    -   hs5      5      0   84  176,190,197,0.2
5   chr    -   hs6      6      0  127  176,190,197,0.2
6   chr    -   hs7      7      0  102  176,190,197,0.2
7   chr    -   hs8      8      0   81  176,190,197,0.2
8   chr    -   hs9      9      0   82  176,190,197,0.2
9   chr    -  hs10     10      0   84  176,190,197,0.2
10  chr    -  hs11     11      0  124  176,190,197,0.2
11  chr    -  hs12     12      0  106  176,190,197,0.2
12  chr    -  hs13     13      0   43  176,190,197,0.2
13  chr    -  hs14     14      0   69  176,190,197,0.2
14  chr    -  hs15     15      0   81  176,190,197,0.2
15  chr    -  hs16     16      0   75  176,190,197,0.2
16  chr    -  hs17     17      0  107  176,190,197,0.2
17  chr    -  hs18     18      0   22  176,190,197,0.2
18  chr    -  hs19     19      0  123  176,190,197,0.2
19  chr    -  hs20     20      0   60  176,190,197,0.2
20  chr    -  hs21     21      0   39  176,190,197,0.2
21  chr    -  hs22     22      0   41  176,190,197,0.2

In [42]:
W=0.5
df_CHR=open("./%s/karyotype.human.hg19_%s.tsv" % (input_kar,df_chr.shape[0]),"r")
df_CHR.readline()
df_win=open("./%s/karyotype.human.hg19_%s_0.5.tsv" % (input_kar,df_chr.shape[0]),"w")
df_win.write("id\tstart\tend\tsymbol\n")
for line in df_CHR.readlines():
    L=line.strip('\n').split('\t')
    middle_value=float(L[1])+float((float(L[2])-float(L[1]))/2)
    if middle_value-W <= 0:
        df_win.write("%s\t0\t%d\t%s\n" % (L[0], float(middle_value+W),L[3]))
    else:
        df_win.write("%s\t%d\t%d\t%s\n" % (L[0], float(middle_value-W), float(middle_value+W),L[3]))
df_CHR.close()
df_win.close()

In [43]:
df=df.sort_values(['alzMR score'], ascending=False)
df.head()

    symbol Race_group highlight label type FDR_sig pvalue_sig  alzMR score
10   LACTB         EA      high   yes  FDR     yes        NaN         45.0
12   EPHX2         EA      high   yes  FDR     yes        NaN         27.0
9   ADAM10         EA      high   yes  FDR     yes        NaN         26.0
20   PRKCB         EA  moderate   yes  FDR     yes        NaN         22.0
21   FOLH1         EA  moderate   yes  FDR     yes        NaN         21.0

In [44]:
print(df_chr.shape)
df_chr.head()

(1176, 4)

    id  start  end  symbol
0  hs1      0    1  CDK11B
1  hs1      1    3  CDK11A
2  hs1      3    4   PRKCZ
3  hs1      4    5    ENO1
4  hs1      5    8  PIK3CD

In [45]:
df_flag=df[df["label"]=='yes'][["symbol","alzMR score"]]
print(df_flag.shape)

(95, 2)

In [46]:
df_highlight=pd.merge(df_chr,df_flag, how="inner",on="symbol")
df_highlight=df_highlight.drop(columns=['symbol'])
print(df_highlight.shape)
df_highlight.head()

(95, 4)

    id  start  end  alzMR score
0  hs1     21   24          6.0
1  hs1     24   27         -8.0
2  hs1     29   32          7.0
3  hs1     65   68         -8.0
4  hs1     75   78         -7.0

In [47]:
df_sig_posi=df_highlight[df_highlight["alzMR score"]>0]
print("antagonistic #%s" % df_sig_posi.shape[0])
df_sig_posi.to_csv("./%s/brain_sig_count_posi_1U.txt" % (output_circos), sep=" ",index=False,header=False)

antagonistic #51

In [48]:
df_sig_neg=df_highlight[df_highlight["alzMR score"]<0]
print("agonistic  #%s" % df_sig_neg.shape[0])
df_sig_neg.to_csv("./%s/brain_sig_count_neg_1U.txt" % (output_circos), sep=" ",index=False,header=False)

agonistic  #43

In [49]:
df_DT=pd.read_csv("./%s/DT_IVW_500kb_Sep13_#29027.tsv" % input_raw, sep="\t")
print(df_DT.shape)
GWAS_files=unique(df_DT["Outcome"].tolist())
for AD in GWAS_files:
    sub_AD=df_DT[df_DT["Outcome"]==AD].copy().reindex()
    for i in sub_AD.index:
        if sub_AD.loc[i,"FDR"] < 0.05:
            sub_AD.loc[i,"sig"]="id=FDR"
        elif sub_AD.loc[i,"Pvalue"] < 0.05:
            sub_AD.loc[i,"sig"]="id=pval"
        else:
            sub_AD.loc[i,"sig"]="id=non_sig"

    for i in sub_AD.index:
        if sub_AD.loc[i,"xQTL_type"] =='Cortex-ROSMAP.All_pQTL':
            sub_AD.loc[i,"pos"]=12
        elif sub_AD.loc[i,"xQTL_type"] =='Cortex-ROSMAP.Ctl_pQTL':
            sub_AD.loc[i,"pos"]=11
        elif sub_AD.loc[i,"xQTL_type"] =='Cortex-Banner_pQTL':
            sub_AD.loc[i,"pos"]=10
        elif sub_AD.loc[i,"xQTL_type"] =='Cortex-ROSMAP_eQTL':
            sub_AD.loc[i,"pos"]=9
        elif sub_AD.loc[i,"xQTL_type"] =='Cortex-Mayo_eQTL':
            sub_AD.loc[i,"pos"]=8
        elif sub_AD.loc[i,"xQTL_type"] =='Cortex-Metabrain_eQTL':
            sub_AD.loc[i,"pos"]=7
        elif sub_AD.loc[i,"xQTL_type"] =='Cortex-Meta_eQTL':
            sub_AD.loc[i,"pos"]=6
        elif sub_AD.loc[i,"xQTL_type"] =='Cerebellum-Mayo_eQTL':
            sub_AD.loc[i,"pos"]=5
        elif sub_AD.loc[i,"xQTL_type"] =='Cerebellum-Metabrain_eQTL':
            sub_AD.loc[i,"pos"]=4
        elif sub_AD.loc[i,"xQTL_type"] =='BasalGanglia-Metabrain_eQTL':
            sub_AD.loc[i,"pos"]=3
        elif sub_AD.loc[i,"xQTL_type"] =='Hippocampus-Metabrain_eQTL':
            sub_AD.loc[i,"pos"]=2
        elif sub_AD.loc[i,"xQTL_type"] =='SpinalCord-Metabrain_eQTL':
            sub_AD.loc[i,"pos"]=1
 
    sub_AD_rename=sub_AD.rename(columns={"Exposure":"symbol"})
    sub_AD_chr=pd.merge(df_chr,sub_AD_rename, how="inner",on="symbol")
    sub_AD_chr=sub_AD_chr[["id","start","end","pos","sig"]]
    print("%s #%s" % (AD,sub_AD_chr.shape[0]))
    sub_AD_chr.to_csv("./%s/%s_all.txt" % (output_circos,AD), sep=" ",index=False,header=False)
    print("==========")

(29027, 14)
AD-Schwartzentruber_2021 #4149
==========
AD_Bellenguez_2022 #4119
==========
AFA-Kunkle.M1_2020 #4128
==========
AFA-Kunkle.M2_2020 #4130
==========
Family.Htx.AD-Schwartzentruber_2021 #4160
==========
LOAD-Jansenetal_2019 #4170
==========
LOAD-Wightman_2021 #4171
==========

In [50]:
df_flag2=df[df["label"]=='yes'].copy()
df_flag2=df_flag2[["symbol","highlight"]]
df_flag2[['highlight']] = df_flag2[['highlight']].fillna('low')
df_flag2['highlight'] = 'id=' + df_flag2['highlight'].astype(str)
df_text=pd.merge(df_chr,df_flag2, how="inner", on="symbol")
print(df_text.shape)
df_text.to_csv("./%s/MR_gene_text.txt" % (output_circos), index=False, header=False, sep=' ')
df_text.head()

(95, 5)

    id  start  end symbol    highlight
0  hs1     21   24    CDA       id=low
1  hs1     24   27   ECE1  id=moderate
2  hs1     29   32  EPHB2       id=low
3  hs1     65   68  MKNK1       id=low
4  hs1     75   78   JAK1       id=low

##  ==========circos plot=============
We have prepared all input files for circos plot. Next, please run the next steps:\
1) Download circos http://circos.ca/software/download/circos/. \
2) Put input file "karyotype.human.hg19_1176_Dec18.txt" in PATH:circos/data/karyotype.\
3) Put folder "mr_circos_v9" in PATH: circos/circos_tutorials/data. \
4) After all files preparation, you can write the .conf codes for circos. The codes using for this study have put in circos_v9 folder.